{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Autobox Domain API",
    "contact": {
      "name": "Autobox Engineering",
      "email": "support@autoboxcorp.com"
    },
    "description": "This Swagger document defines the Autobox public API and should be treated as a requirements contract.  Note that all endpoints are secured by default and are served over HTTPS.  See the `autobox-auth` project for documentation on authentication.\n\nNote that standard error responses are not called out for every endpoint.  The following standard error responses are common to *every* endpoint:\n\n|Code|Purpose|\n|---|---|\n|400|Bad Request (Client Error and deny partner login access)|\n|401|Unauthorized (the user needs to authenticate)|\n|403|Forbidden (the user does not have access to the resource)|\n|405|Wrong HTTP Method was used with the given endpoint|\n|500|Internal Server Error|\n\nMore standard error codes will be added as they become necessary.\n"
  },
  "basePath": "/api",
  "host": "auth.autoboxcorp.com",
  "produces": [
    "application/json",
    "application/octet-stream",
    "text/html"
  ],
  "consumes": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/f9/users/{username}/skills": {
      "post": {
        "description": "Adds an existing skill to a F9 user.\n",
        "tags": [
          "F9 Users",
          "F9 Skills"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "path",
            "name": "username",
            "description": "username of the five9 user that is like unique ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "skill",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-skill"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "user skill added"
          }
        }
      },
      "put": {
        "description": "Modifies an existing skill to up level or down level in F9 user.\n",
        "tags": [
          "F9 Users",
          "F9 Skills"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "path",
            "name": "username",
            "description": "username of the five9 user that is like unique ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "skill",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-skill"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user skill modified"
          }
        }
      },
      "delete": {
        "description": "Removes a user skill from a F9 user\n",
        "tags": [
          "F9 Users",
          "F9 Skills"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "path",
            "name": "username",
            "description": "username of the five9 user that is like unique ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "skill",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-skill"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "user skill removed"
          }
        }
      }
    },
    "/f9/users/{username}": {
      "get": {
        "description": "Get a collection of F9 users' general info filtered by a username pattern\n",
        "tags": [
          "F9 Users"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "path",
            "name": "username",
            "description": "username of the five9 user that is like unique ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "display user general info",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/f9-user-general-info"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Modifies a F9 user. Returns user info for just created user. Returns internal error if user already exists.\n",
        "tags": [
          "F9 Users"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "path",
            "name": "username",
            "description": "username of the five9 user that is like unique ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "user-info",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-user-info"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user modified",
            "schema": {
              "$ref": "#/definitions/f9-user-info"
            }
          }
        }
      },
      "delete": {
        "description": "Deletes a F9 user\n",
        "tags": [
          "F9 Users"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "path",
            "name": "username",
            "description": "username of the five9 user that is like unique ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "user deleted"
          }
        }
      }
    },
    "/f9/users/detail/{username}": {
      "get": {
        "description": "Gets five9 user detail information\n",
        "tags": [
          "F9 Users"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "path",
            "name": "username",
            "description": "username of the five9 user that is like unique ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "display users detail info",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "generalInfo": {
                        "$ref": "#/definitions/f9-user-general-info"
                      },
                      "roles": {
                        "$ref": "#/definitions/f9-roles"
                      },
                      "skills": {
                        "type": "array",
                        "items": {
                          "$ref": "#/definitions/f9-skill"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/f9/users": {
      "get": {
        "description": "Get a collection of F9 users' general info\n",
        "tags": [
          "F9 Users"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "all users",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/f9-user-general-info"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new F9 user. Returns general info for just created user. Returns internal error if user already exists.\n",
        "tags": [
          "F9 Users"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "body",
            "name": "user-info",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-user-info"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "user created",
            "schema": {
              "$ref": "#/definitions/f9-user-info"
            }
          }
        }
      }
    },
    "/f9/skills": {
      "get": {
        "description": "Gets skills\n",
        "tags": [
          "F9 Skills"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "array of skills",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "messageOfTheDay": {
                        "type": "string"
                      },
                      "routeVoiceMails": {
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "New skill information\n",
        "tags": [
          "F9 Skills"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "skillInfo",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "messageOfTheDay": {
                  "type": "string"
                },
                "routeVoiceMails": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user created",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "object",
                  "properties": {
                    "skill": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "routeVoiceMails": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "update skill information\n",
        "tags": [
          "F9 Skills"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "skillInfo",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "messageOfTheDay": {
                  "type": "string"
                },
                "routeVoiceMails": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user created",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "object",
                  "properties": {
                    "skill": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "routeVoiceMails": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/f9/skills/skillsInfo": {
      "get": {
        "description": "Gets skillsinfo\n",
        "tags": [
          "F9 Skills"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "array of skillsinfo",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "skill": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "routeVoiceMails": {
                            "type": "boolean"
                          }
                        }
                      },
                      "users": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "level": {
                              "type": "integer"
                            },
                            "skillName": {
                              "type": "string"
                            },
                            "userName": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/f9/skills/{skillname}": {
      "get": {
        "description": "Gets skill information\n",
        "tags": [
          "F9 Skills"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "skillname",
            "in": "path",
            "description": "skillname of the skill that is like unique ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "skills",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "object",
                  "properties": {
                    "skill": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "messageOfTheDay": {
                          "type": "string"
                        },
                        "routeVoiceMails": {
                          "type": "boolean"
                        }
                      }
                    },
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "level": {
                            "type": "integer"
                          },
                          "skillName": {
                            "type": "string"
                          },
                          "userName": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "deletes skill\n",
        "tags": [
          "F9 Skills"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "skillname",
            "in": "path",
            "description": "skillname of the skill that is like unique ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "skill deleted"
          }
        }
      }
    },
    "/f9/lists": {
      "get": {
        "description": "Get a collection of list from five9\n",
        "tags": [
          "F9 Lists"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "all list",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "size": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new list on five9. Returns internal error if list already exists.\n",
        "tags": [
          "F9 Lists"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "body",
            "name": "disposition",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "listName": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "disposition created"
          }
        }
      }
    },
    "/f9/lists/importresults/{identifier}": {
      "get": {
        "description": "Get the detailed outcome of a list import\n",
        "tags": [
          "F9 Lists"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "identifier, it is similary to an id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "result of a list import",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "object",
                  "properties": {
                    "uploadDuplicatesCount": {
                      "type": "string"
                    },
                    "uploadErrorsCount": {
                      "type": "string"
                    },
                    "callNowQueued": {
                      "type": "string"
                    },
                    "crmRecordsInserted": {
                      "type": "string"
                    },
                    "crmRecordsUpdated": {
                      "type": "string"
                    },
                    "listName": {
                      "type": "string"
                    },
                    "listRecordsDeleted": {
                      "type": "string"
                    },
                    "listRecordsInserted": {
                      "type": "string"
                    },
                    "keyFields": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "warningsCount": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "key": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/f9/lists/importrunning/{identifier}": {
      "get": {
        "description": "Check if data is being imported by using the importIdentifier\n",
        "tags": [
          "F9 Lists"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "path",
            "name": "identifier",
            "description": "identifier, it is similary to an id",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "waitTime",
            "type": "string",
            "description": "The optional parameter contains the result immediately, max value to set '300'.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "result of a list import",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/f9/lists/{listName}/records": {
      "post": {
        "description": "Add records to a list\n",
        "tags": [
          "F9 Lists"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "listName",
            "in": "path",
            "description": "list name, it is similary to an id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "records",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "listUpdateSettings": {
                  "type": "object",
                  "properties": {
                    "cleanListBeforeUpdate": {
                      "type": "boolean"
                    },
                    "crmAddMode": {
                      "type": "string"
                    },
                    "crmUpdateMode": {
                      "type": "string"
                    },
                    "listAddMode": {
                      "type": "string"
                    },
                    "fieldsMapping": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "columnNumber": {
                            "type": "integer"
                          },
                          "fieldName": {
                            "type": "string"
                          },
                          "key": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                },
                "importData": {
                  "type": "object",
                  "properties": {
                    "values": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "item": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "added record(s), it returns identifier to check import status",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "object",
                  "properties": {
                    "identifier": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes record(s) from a list on five9.\n",
        "tags": [
          "F9 Lists"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "listName",
            "in": "path",
            "description": "list name, it is similary to an id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "records",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "listUpdateSettings": {
                  "type": "object",
                  "properties": {
                    "listDeleteMode": {
                      "type": "string"
                    },
                    "fieldsMapping": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "columnNumber": {
                            "type": "integer"
                          },
                          "fieldName": {
                            "type": "string"
                          },
                          "key": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                },
                "importData": {
                  "type": "object",
                  "properties": {
                    "values": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "item": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted record(s), it returns identifier to check import status",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "object",
                  "properties": {
                    "identifier": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/f9/lists/{listName}": {
      "delete": {
        "description": "Deletes a list on five9.\n",
        "tags": [
          "F9 Lists"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "listName",
            "in": "path",
            "description": "list name, it is similary to an id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "disposition deleted"
          }
        }
      },
      "get": {
        "description": "Gets a list on five9.\n",
        "tags": [
          "F9 Lists"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "Access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "Application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "listName",
            "in": "path",
            "description": "List name, it is similary to an id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list was successfully obtained",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of dialing list"
                      },
                      "size": {
                        "type": "integer",
                        "description": "Size of dialing list"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/f9/dispositions": {
      "get": {
        "description": "Get a collection of disposition from five9\n",
        "tags": [
          "F9 Dispositions"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "all dispostions",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/f9-disposition"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new disposition on five9. Returns internal error if disposition already exists.\n",
        "tags": [
          "F9 Dispositions"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "body",
            "name": "disposition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-disposition-create-update"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "disposition created"
          }
        }
      }
    },
    "/f9/dispositions/{dispositionName}": {
      "get": {
        "description": "Gets a disposition from five9.\n",
        "tags": [
          "F9 Dispositions"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "dispositionName",
            "in": "path",
            "description": "disposition name, it is similary to an id",
            "required": true,
            "type": "string"
          },
          {
            "name": "disposition",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/f9-disposition"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "disposition updated"
          }
        }
      },
      "put": {
        "description": "Updates a disposition on five9. Returns internal error if disposition already exists.\n",
        "tags": [
          "F9 Dispositions"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "dispositionName",
            "in": "path",
            "description": "disposition name, it is similary to an id",
            "required": true,
            "type": "string"
          },
          {
            "name": "disposition",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/f9-disposition-create-update"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "disposition updated"
          }
        }
      },
      "delete": {
        "description": "Deletes a disposition on five9.\n",
        "tags": [
          "F9 Dispositions"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "dispositionName",
            "in": "path",
            "description": "disposition name, it is similary to an id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "disposition deleted"
          }
        }
      }
    },
    "/f9/contacts/fields": {
      "get": {
        "description": "Get the configuration of (all) contact fields.\n",
        "tags": [
          "F9 Contact Fields"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "type": "string",
            "description": "The optional parameter to get only a contact fields.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "result of contact fields",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "displayAs": {
                        "type": "string"
                      },
                      "mapTo": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "system": {
                        "type": "boolean"
                      },
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/f9/campaigns/strategies/{campaignName}": {
      "put": {
        "description": "It overrides the dialing strategies for the specified campaign",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "campaignName to update his dialing strategies",
            "required": true,
            "type": "string"
          },
          {
            "name": "campaignStrategies",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/f9-campaignStrategy"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "autodial campaign successfully created"
          }
        }
      },
      "get": {
        "description": "It obtains a list of dialing strategies for the specified campaign",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "name": "appname",
            "in": "header",
            "description": "application name",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "access token",
            "required": true,
            "type": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "a list of dialing strategies for the specified campaign",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/f9-campaignStrategy"
              }
            }
          }
        }
      }
    },
    "/f9/campaigns": {
      "get": {
        "description": "Gets all campaigns.\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned campaigns.",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "mode": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "trainingMode": {
                        "type": "boolean"
                      },
                      "type": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/f9/campaigns/autodial/{campaignName}": {
      "get": {
        "description": "Gets a autodial campaign. Some properties will appear in accordance with the campaign configuration\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "campaignName to get data",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "info campaign",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "$ref": "#/definitions/f9-autodialCampaign"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates an autodial campaign. Please consider that the name in the path will override the name in the body.\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "name": "appname",
            "in": "header",
            "description": "application name",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "access token",
            "required": true,
            "type": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "name of the autodial campaign to be updated",
            "required": true,
            "type": "string"
          },
          {
            "name": "autodial",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-autodialCampaign"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "autodial campaign successfully updated"
          }
        }
      }
    },
    "/f9/campaigns/autodial": {
      "post": {
        "description": "Creates a new autodial campaign\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaign",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-autodialCampaign"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "autodial campaign successfully created"
          }
        }
      }
    },
    "/f9/campaigns/inbound/{campaignName}": {
      "get": {
        "description": "Gets a inbound campaign. Some properties will appear in accordance with the campaign configuration\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "campaignName to get data",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "info campaign",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "$ref": "#/definitions/f9-baseInboundCampaign"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates an inbound campaign. Please consider that the name in the path will override the name in the body.\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "name": "appname",
            "in": "header",
            "description": "application name",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "access token",
            "required": true,
            "type": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "name of the inbound campaign to be updated",
            "required": true,
            "type": "string"
          },
          {
            "name": "campaign",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-baseInboundCampaign"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "inbound campaign successfully updated"
          }
        }
      }
    },
    "/f9/campaigns/inbound": {
      "post": {
        "description": "Creates a new inbound campaign\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "name": "appname",
            "in": "header",
            "description": "application name",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "access token",
            "required": true,
            "type": "string"
          },
          {
            "name": "campaign",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-baseInboundCampaign"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "inbound campaign successfully created"
          }
        }
      }
    },
    "/f9/campaigns/outbound/{campaignName}": {
      "get": {
        "description": "Gets a outbound campaign. Some properties will appear in accordance with the campaign configuration\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "campaignName to get data",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "info campaign",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "$ref": "#/definitions/f9-outboundCampaign"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Updates a outbound campaign, this endpoint show the parameter in the body to update \"Autodial Options\" tab, please consider that the name in the path will override the name in the body.\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "name": "appname",
            "in": "header",
            "description": "application name",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "access token",
            "required": true,
            "type": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "current campaign name",
            "required": true,
            "type": "string"
          },
          {
            "name": "outbound",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-outboundCampaign"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "campaign successfully updated"
          }
        }
      }
    },
    "/f9/campaigns/outbound": {
      "post": {
        "description": "Creates a new campaign of oubound type\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "Campaign",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/f9-outboundCampaign"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "outbound campaign created"
          }
        }
      }
    },
    "/f9/campaigns/{campaignName}": {
      "delete": {
        "description": "deletes campaign\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "campaignName to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Campaign deleted"
          }
        }
      }
    },
    "/f9/campaigns/dnis": {
      "get": {
        "description": "Gets dnis\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "array of dnis",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Add dni to campaign\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "dnisInfo",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "campaignName": {
                  "type": "string"
                },
                "DNISList": {
                  "type": "array",
                  "description": "DNISList have to exist to add on campaign",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "dnis added"
          }
        }
      }
    },
    "/f9/campaigns/dnis/{campaignName}": {
      "delete": {
        "description": "deletes dnis from campaign\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "campaignName to delete dnis",
            "required": true,
            "type": "string"
          },
          {
            "name": "dnis",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "DNISList": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "dnis deleted"
          }
        }
      }
    },
    "/f9/campaigns/lists": {
      "get": {
        "description": "Get lists\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "array of lists",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "size": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Add dni to campaign\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "listsInfo",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "campaignName": {
                  "type": "string"
                },
                "lists": {
                  "type": "array",
                  "description": "lists have to exist to add on campaign",
                  "items": {
                    "type": "object",
                    "properties": {
                      "listName": {
                        "type": "string"
                      },
                      "dialingPriority": {
                        "type": "integer"
                      },
                      "dialingRatio": {
                        "type": "integer"
                      },
                      "priority": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "lists added"
          }
        }
      }
    },
    "/f9/campaigns/lists/{campaignName}": {
      "delete": {
        "description": "deletes lists from campaign\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "campaignName to delete lists",
            "required": true,
            "type": "string"
          },
          {
            "name": "lists",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "lists": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "lists deleted"
          }
        }
      }
    },
    "/f9/campaigns/ivrscripts": {
      "get": {
        "description": "Get IVRScripts\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "array of IVRScripts",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "xmlDefinition": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/f9/campaigns/start/{campaignName}": {
      "put": {
        "description": "Starts a Campaign\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "campaignName to get status campaign",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign successfully started"
          }
        }
      }
    },
    "/f9/campaigns/stop/{campaignName}": {
      "put": {
        "description": "Stops a Campaign\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "campaignName to get status campaign",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign successfully stopped"
          }
        }
      }
    },
    "/f9/campaigns/attached/lists/{campaignName}": {
      "get": {
        "description": "Gets attached lists\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "campaignName to get attached lists",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "array of attached lists",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "campaignName": {
                        "type": "string"
                      },
                      "listName": {
                        "type": "string"
                      },
                      "dialingPriority": {
                        "type": "integer"
                      },
                      "dialingRatio": {
                        "type": "integer"
                      },
                      "priority": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/f9/campaigns/attached/dnis/{campaignName}": {
      "get": {
        "description": "Gets attached dnis\n",
        "tags": [
          "F9 Campaigns"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "name": "campaignName",
            "in": "path",
            "description": "campaignName to get attached dnis",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "array of attached dnis",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/f9/campaigns/{campaignName}/skills": {
      "put": {
        "description": "Adds an existing skill to a F9 campaign.\n",
        "tags": [
          "F9 Campaigns",
          "F9 Skills"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "path",
            "name": "campaignName",
            "description": "campaignName of the five9 campaign that is like unique ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "skill",
            "required": true,
            "description": "array of the skills names",
            "schema": {
              "type": "object",
              "properties": {
                "skills": {
                  "type": "array",
                  "description": "array of the skills names",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "campaign skill added"
          }
        }
      },
      "delete": {
        "description": "Removes a skill from a F9 campaign\n",
        "tags": [
          "F9 Campaigns",
          "F9 Skills"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "path",
            "name": "campaignName",
            "description": "the campaignName is like unique ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "skill",
            "required": true,
            "description": "array of the skills names",
            "schema": {
              "type": "object",
              "properties": {
                "skills": {
                  "description": "array of the skills names",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "campaign skill removed"
          }
        }
      }
    },
    "/f9/campaigns/profiles": {
      "get": {
        "description": "Get all campaign profiles\n",
        "tags": [
          "F9 Campaign Profiles"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "nameProfile",
            "type": "string",
            "description": "The optional parameter that filters if the item is matched.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "array of campaign profiles",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/f9-campaign-profile"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new profile on five9. Returns internal error if the profile already exists.\n",
        "tags": [
          "F9 Campaign Profiles"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "body",
            "name": "profileName",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "profile created",
            "schema": {
              "type": "object",
              "properties": {
                "return": {
                  "$ref": "#/definitions/f9-campaign-profile"
                }
              }
            }
          }
        }
      }
    },
    "/f9/campaigns/profiles/{profileName}": {
      "delete": {
        "description": "Removes a profile from a F9 campaign\n",
        "tags": [
          "F9 Campaign Profiles"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "header",
            "name": "appname",
            "required": true,
            "description": "application name",
            "type": "string",
            "format": "string"
          },
          {
            "in": "path",
            "name": "profileName",
            "description": "the profileName is like unique ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "campaign profile removed"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "description": "Authenticates the user and return a token.\n",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Auth Request",
            "required": true,
            "schema": {
              "type": "object",
              "description": "User's credentials to validate in json format.",
              "properties": {
                "username": {
                  "type": "string",
                  "description": "User name into domain. For example, username@domain.com"
                },
                "password": {
                  "type": "string",
                  "description": "user password into domain"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "string",
              "description": "Token generated, it indicates that the user was authenticated.",
              "format": "jwt token"
            }
          }
        }
      }
    },
    "/auth/logout": {
      "get": {
        "description": "This endpoint will log out the user.\n",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The user was logged out."
          }
        }
      }
    },
    "/auth/refresh-token": {
      "put": {
        "description": "Receives a token that will be validated; if it is valid, returns a new valid refreshen token\n",
        "tags": [
          "Auth"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "name": "token",
            "in": "body",
            "description": "The token sent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "string",
              "description": "Refreshen Token, new token with extended expiration time by 1 hour.",
              "format": "jwt token"
            }
          }
        }
      }
    },
    "/admin/users": {
      "get": {
        "description": "Gets users\n",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "array of users",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/user"
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a user.\n",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "activationCode": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created user"
          },
          "400": {
            "description": "Bad parameters",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "The activation code was already used",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/users/profile": {
      "get": {
        "description": "This endpoint get a user profile.\n",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "There is an existing user profile",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "firstname": {
                  "type": "string"
                },
                "avatar": {
                  "type": "string"
                },
                "role": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "There is no an existing valid profile",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/users/partner/{partnername}/lastusedaccount": {
      "get": {
        "description": "This endpoint will associate partner account with an aplication.\n",
        "tags": [
          "User Accounts"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "partnername",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "There is an existing valid username",
            "schema": {
              "type": "string"
            }
          },
          "204": {
            "description": "There is no an existing valid username",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/admin/users/partners/{partnerName}/accounts": {
      "get": {
        "description": "Gets all accounts by partner name.\n",
        "tags": [
          "User Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "name": "partnerName",
            "in": "path",
            "description": "partnerName as ID to fetch all accounts",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "user accounts",
            "schema": {
              "type": "array",
              "description": "it will return an empty array if parameter {partnerName} has not accounts associated.",
              "items": {
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "avatar": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/users/partner/app": {
      "post": {
        "description": "This endpoint will associate partner account with an aplication.\n",
        "tags": [
          "User Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "body",
            "name": "appaccount",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "partnerId": {
                  "type": "string"
                },
                "appName": {
                  "type": "string"
                },
                "credentials": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string"
                    },
                    "password": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has been fulfilled",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "delete": {
        "description": "This endpoint will unlink the username of an application.\n",
        "tags": [
          "User Accounts"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "body",
            "name": "partner data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "partnerId": {
                  "type": "string"
                },
                "appName": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The request has been fulfilled",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/admin/users/auth": {
      "post": {
        "description": "Authenticates the account user partner\n",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          },
          {
            "in": "body",
            "name": "credentials",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "partnerId": {
                  "type": "string"
                },
                "appName": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has been fulfilled",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/admin/temporaryusers": {
      "post": {
        "description": "Registers a new user in a temporary account that will be activated after clicking activation account and complete the register\n",
        "tags": [
          "TempUser"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "body",
            "description": "The user info to be registered",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "firstname": {
                  "type": "string",
                  "description": "First name user"
                },
                "lastname": {
                  "type": "string",
                  "description": "Last name user"
                },
                "email": {
                  "type": "string",
                  "description": "Email as username"
                },
                "company": {
                  "type": "string",
                  "description": "This is an ID of Company"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The account was created. An email was sent to activate the user account. The returned user info contains the generated activation code .",
            "schema": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "resource id of this user"
                },
                "firstname": {
                  "type": "string",
                  "description": "firstname for this user"
                },
                "lastname": {
                  "type": "string",
                  "description": "lastname for this user"
                },
                "company": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "Company ID"
                    }
                  }
                },
                "email": {
                  "type": "string",
                  "description": "the email for this user"
                },
                "activationCode": {
                  "type": "string",
                  "description": "the code generated for this user"
                }
              }
            }
          },
          "400": {
            "description": "The general validation before registering",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/temporaryusers/{activationCode}": {
      "get": {
        "description": "Gets temporary user info by activationCode\n",
        "tags": [
          "TempUser"
        ],
        "parameters": [
          {
            "name": "activationCode",
            "in": "path",
            "description": "The activationCode of the temporary user that is like unique ID to activate the account.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The temporary user info and its company",
            "schema": {
              "$ref": "#/definitions/temporary-user"
            }
          },
          "400": {
            "description": "The activationCode must be required",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "The activation code was already used",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/companies": {
      "get": {
        "description": "Gets all active companies\n",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "description": "access token",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "array of companies",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/company"
              }
            }
          }
        }
      }
    },
    "/admin/apps/filter": {
      "get": {
[...]
